.navigation__link, .logo-path {
  transition: all 0.3s ease-out;
}

.contact-us__form input, .contact-us__form textarea, .button, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.promo__text, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.4rem;
}

h4 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.button {
  padding: 11px 25px 13px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_bordered {
  background-color: #ffffff;
  border: 1px solid #D7D7D7;
  color: #544837;
}
.button_bordered:hover {
  background-color: #BCD0E5;
  border-color: #BCD0E5;
}
.button_colored {
  background-color: #FF9900;
  color: #ffffff;
  border: 1px solid #FF9900;
}
.button_colored:hover {
  background-color: #FF7549;
  border-color: #FF7549;
}

.link-button {
  color: #FF9900;
  display: inline-flex;
  align-items: center;
}

.link-button_text {
  margin-left: 9px;
}

.logo-svg:hover .logo-path {
  fill: #FF9900;
}

.icon {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
}
.icon-square_yellow {
  background-color: #FAB005;
}
.icon-square_red {
  background-color: #F03E3D;
}
.icon-square_blue {
  background-color: #4DADF7;
}
.icon-square_violet {
  background-color: #7752BE;
}

.icon_play {
  background-image: url("../img/icons/play.svg");
  width: 18px;
  height: 19px;
}

.ico_arrow {
  background-image: url("../img/icons/arrow.svg");
  width: 12px;
  height: 17px;
}

.ico_snake {
  background-image: url("../img/icons/snake.svg");
  width: 18px;
  height: 14px;
}

.ico_heart {
  background-image: url("../img/icons/heart.svg");
  width: 17px;
  height: 15px;
}

.ico_clock {
  background-image: url("../img/icons/clock.svg");
  width: 15px;
  height: 17px;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}
.tag_selected {
  background-color: #FF9900;
  color: #ffffff;
}
.tag_bordered {
  border: 1px solid #D7D7D7;
}
.tag_colored {
  background-color: #F5F5F5;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons > .button {
  margin-left: 14px;
}

.header__buttons > .button:first-child {
  margin-left: 0;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.contact-us {
  background-color: #FFEEE1;
  padding: 62px 82px;
}

.contact-us__form input, .contact-us__form textarea {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px 21px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
}
.contact-us__form input:focus, .contact-us__form textarea:focus {
  border-color: #FF9900;
  outline: none;
}
.contact-us__form input {
  max-width: 40%;
}
.contact-us__form textarea {
  resize: none;
  width: 100%;
  height: 160px;
}

.contact-us__line {
  margin-bottom: 19px;
}

.contact-us__button > * {
  min-width: 117px;
}

.promo {
  background-color: #ffffff;
  padding: 30px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  padding-right: 65px;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__buttons > * {
  margin-right: 44px;
}

.promo__text {
  max-height: 487px;
  margin: 0 0 45px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

/* or 156% */
.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #FF9900;
}

.tools__wrapper {
  padding-bottom: 90px;
  background-image: url("../img/backgrounds/tools-bg.svg");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tools__title {
  max-width: 452px;
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}

.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin: 0 0 16px;
}

.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

/*
.strategies__tags {
    margin-bottom: 31px;
}*/
.strategy-wrapper > * {
  margin-bottom: 30px;
}

.strategy__name {
  margin: 0 0 29px;
}

.strategy__content {
  padding: 24px 33px 26px;
}

/*# sourceMappingURL=style.css.map */
